$primary: #eb4d4b;
$success: #6ab04c;
$warning: #f0932b;
$danger: #eb4d4b;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
